


html { 
  background: url('../img/index.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 

  overflow-x: hidden;	
}

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.95;
    color: #666666;
    background-color: transparent;
}
 


#login@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  padding-top: 60px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}


.back_transparent {
	background-color: transparent;
	margin-bottom: -100px !important;
	padding-bottom: -0px !important;
}
.white_blur {  
	min-width: 300px;
	padding: 15px 15px;
	color: #444444;
	background-color: rgba(255,255,255,0.5);
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-bottom: 50px;
} 
.icon_image {
	height: 166px;
	width: auto;
}
.basic_hedding{
	text-align: center;
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 30px
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.basic_para {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
	line-height: 1.95;
	text-align: left;
	color: black;
	margin: 0 0 30px;
	word-wrap: break-word;
	font-weight: 300 !important;
	padding-left: 25px;
	padding-right: 25px;

}.banner-content .iconic {
 	max-height: 89px;
 	max-width: 89px;
    margin-bottom: 20px; 
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 3px;
    font-size: 28px;
    text-align: center;
/*
    height: 72px;
    padding-top: 20px;
    */
}

.banner-content {
    width: auto;
    height: 95px;
    line-height: 95px;
    font-size: 46px;
   margin-left: -50px;
}
li {
    width: 25%;
    float: left;
}
.banner-ico-list > li {
    padding-left: 15px;
    display: inline-block;
}
.banner-ico-list > li> div> i{
	color: #4CAF50;

}
.padding_top_100 {
	padding-top: 100px;
}
.div_register{

	margin-left: -100px;
	margin-right: -100px;
	padding: 100px 0px 50px 0px;
	background-color: white;
	box-sizing: border-box;
	margin-top: 50px;
	padding: 75px;
}
.selectvie_back_image {	
	width: 90%;


	
}
.div_bg_img {
	background-image: url("../img/smal_new.png") ;
	background-repeat: no-repeat;
	height: 100px;
	position: relative;
	z-index: 999;
	margin-top: -42px;
	position: absolute;
	right: 150px;
	width: 143px; 
}
.click_me_account{
    font-size: 14px !important;
    margin-top: 24px;
    width: 100%;
    text-align: center;
    line-height: normal;
    padding-top: 13px;
    color: white;
    font-weight: 500 !important;
	cursor: pointer;
}
.click_me_account_icon {
	position: inherit;
	right: 65px;
	top: 60px;
	color: white;
	cursor: pointer;
}
.panel-primary {
     border-color: #4CAF50 !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(76, 175, 80, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 175, 80,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 175, 80,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(76, 175, 80,.6);
}

 label {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
	line-height: 1.95;
	color: #666666;
	box-sizing: border-box;
}
.input-lg {
	font-size: 15px;
}
.custom-hedder-3 {
	font-weight: 500px;
	font-size: 20px;
}
.jst_okay_adjust {
	right: 15px;
	top: 35px !important;
}
.country-list > li {
	float: none;
}
.dropdown-menu	> li {
	float: none;
	padding: 5px 10px 5px 10px;
	width: 100%;
	cursor: pointer;
}
.country-list {
	z-index: 3 !important;
}
.dropdown-menu>li:hover {

	background-color: #C6E7AD;
}
.new_height{
	 height: 46px;
	 min-width: 80px; 
}

.my_error_style {
  color: red;
}
.error {
  color: red;
  font-size: 12px;
}

.glyphicon {
    right: 15px;
    top: 35px !important;
}

#passstrength {
  position: absolute;
  top: 45px;
  right: 20px;
  font-size: 12px;
  font-weight: 400;
  color: #4caf50;
}












/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #4CAF50;
}
.pen-title span a {
  color: #4CAF50;
  font-weight: 600;
  text-decoration: none;
}


/* Form Module */
.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #4CAF50;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background: #4CAF50;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
}
.form-module .toggle .tooltip:before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 40px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h2 {
  margin: 0 0 20px;
  color: #4CAF50;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form-module input {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module input:focus {
  border: 1px solid #4CAF50;
  color: #333333;
}
.form-module button {
  cursor: pointer;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.form-module button:hover {
  background: #178ab4;
}
.form-module .cta {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form-module .cta a {
  color: #333333;
  text-decoration: none;
}













.image_dynamic_here {
  height: 150px;
  width: auto;
  padding: 10px;
  border-radius: 50%;
  display: none;
}









.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}